<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mayron.boryrockacademia">
    android:name=".SplashScreenActivity"
    android:theme="@style/AppCompat.TelaCheia">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logoboryrock"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logoboryrock"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Exercicios" />
        <activity android:name=".Avaliacao" />
        <activity android:name=".Relatorio" />
        <activity android:name=".InformacoesAcademia" />
        <activity android:name=".Avalie" />
        <activity android:name=".Sobre" />
    </application>

</manifest>